<a href="https://colab.research.google.com/github/connorhshaw/NBA-project/blob/merge-branch/nba_mvp_data_wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NBA MVP Project Data Wrangling Workbook

Firstly we need to import data from our Github

In [2]:
!git clone https://github.com/connorhshaw/NBA-project

Cloning into 'NBA-project'...
remote: Enumerating objects: 67, done.
remote: Counting objects: 100% (67/67), done.
remote: Compressing objects: 100% (51/51), done.
remote: Total 67 (delta 18), reused 44 (delta 10), pack-reused 0
Unpacking objects: 100% (67/67), 2.79 MiB | 4.46 MiB/s, done.

Initialise our packages, and import the data from csv files to Dataframes.

In [49]:
import pandas as pd

df_all = pd.read_csv("NBA-project/Data/all_players.csv")
df_mvp = pd.read_csv("NBA-project/Data/mvp-all-years.csv")
df_teams = pd.read_csv("NBA-project/Data/teams.csv")

Now we will inspect the data imported to give us ideas on how to wrangle it.

In [129]:
df_all.head()

,Unnamed: 0,ranker,player,pos,age,team_id,g,gs,mp_per_g,fg_per_g,...,dws,ws,ws_per_48,DUMMY.1,obpm,dbpm,bpm,vorp,Year,key
0,0,1,Mark Acres,C,27,ORL,80,50,21.1,1.7,...,0.6,1.6,0.047,NaN,-3.1,-0.6,-3.7,-0.7,1990,Mark Acres - 1990
1,1,2,Michael Adams,PG,27,DEN,79,74,34.1,5.0,...,2.5,6.9,0.124,NaN,1.8,-0.1,1.8,2.6,1990,Michael Adams - 1990
2,2,3,Mark Aguirre,SF,30,DET,78,40,25.7,5.6,...,2.5,5.7,0.136,NaN,1.0,0.0,1.0,1.5,1990,Mark Aguirre - 1990
3,3,4,Danny Ainge,PG,30,SAC,75,68,36.4,6.7,...,2.1,4.8,0.085,NaN,1.2,-0.1,1.1,2.1,1990,Danny Ainge - 1990
4,4,5,Mark Alarie,PF,26,WSB,82,10,23.1,4.5,...,1.6,3.1,0.079,NaN,-0.6,-0.7,-1.3,0.3,1990,Mark Alarie - 1990

In [130]:
df_all.shape

(15566, 62)

In [34]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19143 entries, 0 to 19142
Data columns (total 61 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        19143 non-null  int64
 1   ranker            19143 non-null  int64
 2   player            19143 non-null  object
 3   pos               19143 non-null  object
 4   age               19143 non-null  int64
 5   team_id           19143 non-null  object
 6   g                 19143 non-null  int64
 7   gs                19143 non-null  int64
 8   mp_per_g          19143 non-null  float64
 9   fg_per_g          19143 non-null  float64
 10  fga_per_g         19143 non-null  float64
 11  fg_pct            19027 non-null  float64
 12  fg3_per_g         19143 non-null  float64
 13  fg3a_per_g        19143 non-null  float64
 14  fg3_pct           16167 non-null  float64
 15  fg2_per_g         19143 non-null  float64
 16  fg2a_per_g        19143 non-null  float64
 17  fg2_pct           18951 non-null  float64
 18  efg_pct           19027 non-null  float64
 19  ft_per_g          19143 non-null  float64
 20  fta_per_g         19143 non-null  float64
 21  ft_pct            18197 non-null  float64
 22  orb_per_g         19143 non-null  float64
 23  drb_per_g         19143 non-null  float64
 24  trb_per_g         19143 non-null  float64
 25  ast_per_g         19143 non-null  float64
 26  stl_per_g         19143 non-null  float64
 27  blk_per_g         19143 non-null  float64
 28  tov_per_g         19143 non-null  float64
 29  pf_per_g          19143 non-null  float64
 30  pts_per_g         19143 non-null  float64
 31  ranker.1          19143 non-null  int64
 32  player.1          19143 non-null  object
 33  pos.1             19143 non-null  object
 34  age.1             19143 non-null  int64
 35  team_id.1         19143 non-null  object
 36  g.1               19143 non-null  int64
 37  mp                19143 non-null  int64
 38  per               19138 non-null  float64
 39  ts_pct            19038 non-null  float64
 40  fg3a_per_fga_pct  19027 non-null  float64
 41  fta_per_fga_pct   19027 non-null  float64
 42  orb_pct           19138 non-null  float64
 43  drb_pct           19138 non-null  float64
 44  trb_pct           19138 non-null  float64
 45  ast_pct           19138 non-null  float64
 46  stl_pct           19138 non-null  float64
 47  blk_pct           19138 non-null  float64
 48  tov_pct           19053 non-null  float64
 49  usg_pct           19138 non-null  float64
 50  DUMMY             0 non-null      float64
 51  ows               19143 non-null  float64
 52  dws               19143 non-null  float64
 53  ws                19143 non-null  float64
 54  ws_per_48         19138 non-null  float64
 55  DUMMY.1           0 non-null      float64
 56  obpm              19143 non-null  float64
 57  dbpm              19143 non-null  float64
 58  bpm               19143 non-null  float64
 59  vorp              19143 non-null  float64
 60  Year              19143 non-null  int64
dtypes: float64(45), int64(10), object(6)
memory usage: 8.9+ MB

In [35]:
df_mvp.head()

,Unnamed: 0,rank,player,age,team_id,votes_first,points_won,points_max,award_share,g,...,trb_per_g,ast_per_g,stl_per_g,blk_per_g,fg_pct,fg3_pct,ft_pct,ws,ws_per_48,Year
0,0,1,Magic Johnson,30,LAL,27.0,636.0,920,0.691,79,...,6.6,11.5,1.7,0.4,0.480,0.384,0.890,16.5,0.270,1990
1,1,2,Charles Barkley,26,PHI,38.0,614.0,920,0.667,79,...,11.5,3.9,1.9,0.6,0.600,0.217,0.749,17.3,0.269,1990
2,2,3,Michael Jordan,26,CHI,21.0,564.0,920,0.613,82,...,6.9,6.3,2.8,0.7,0.526,0.376,0.848,19.0,0.285,1990
3,3,4,Karl Malone,26,UTA,2.0,214.0,920,0.233,82,...,11.1,2.8,1.5,0.6,0.562,0.372,0.762,15.9,0.245,1990
4,4,5,Patrick Ewing,27,NYK,1.0,162.0,920,0.176,82,...,10.9,2.2,1.0,4.0,0.551,0.250,0.775,13.5,0.205,1990

In [36]:
df_mvp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   488 non-null    int64
 1   rank         488 non-null    object
 2   player       488 non-null    object
 3   age          488 non-null    int64
 4   team_id      488 non-null    object
 5   votes_first  488 non-null    float64
 6   points_won   488 non-null    float64
 7   points_max   488 non-null    int64
 8   award_share  488 non-null    float64
 9   g            488 non-null    int64
 10  mp_per_g     488 non-null    float64
 11  pts_per_g    488 non-null    float64
 12  trb_per_g    488 non-null    float64
 13  ast_per_g    488 non-null    float64
 14  stl_per_g    488 non-null    float64
 15  blk_per_g    488 non-null    float64
 16  fg_pct       488 non-null    float64
 17  fg3_pct      477 non-null    float64
 18  ft_pct       488 non-null    float64
 19  ws           488 non-null    float64
 20  ws_per_48    488 non-null    float64
 21  Year         488 non-null    int64
dtypes: float64(14), int64(5), object(3)
memory usage: 84.0+ KB

In [37]:
df_teams.head()

,Unnamed: 0,id,full_name,abbreviation,nickname,city,state,year_founded
0,0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [38]:
df_teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    30 non-null     int64
 1   id            30 non-null     int64
 2   full_name     30 non-null     object
 3   abbreviation  30 non-null     object
 4   nickname      30 non-null     object
 5   city          30 non-null     object
 6   state         30 non-null     object
 7   year_founded  30 non-null     int64
dtypes: int64(3), object(5)
memory usage: 2.0+ KB

In [ ]:
df_all['key'] = (df_all['player']+" - "+df_all['Year'].astype(str))

In [86]:
dupe = df_all.duplicated(subset=['key'])
df_all[dupe].head()

Empty DataFrame
Columns: [Unnamed: 0, ranker, player, pos, age, team_id, g, gs, mp_per_g, fg_per_g, fga_per_g, fg_pct, fg3_per_g, fg3a_per_g, fg3_pct, fg2_per_g, fg2a_per_g, fg2_pct, efg_pct, ft_per_g, fta_per_g, ft_pct, orb_per_g, drb_per_g, trb_per_g, ast_per_g, stl_per_g, blk_per_g, tov_per_g, pf_per_g, pts_per_g, ranker.1, player.1, pos.1, age.1, team_id.1, g.1, mp, per, ts_pct, fg3a_per_fga_pct, fta_per_fga_pct, orb_pct, drb_pct, trb_pct, ast_pct, stl_pct, blk_pct, tov_pct, usg_pct, DUMMY, ows, dws, ws, ws_per_48, DUMMY.1, obpm, dbpm, bpm, vorp, Year, key]
Index: []

[0 rows x 62 columns]

It is clear that duplicates appear when a player is traded, giving them 2 records. We could deal with these by combining rows and averaging values, however I think we will drop these rows for the following reasons:

1.   It is a fair assumption that a traded player will not receive MVP votes
2.   It makes joining easier later on

In [74]:
df_all = df_all.drop_duplicates(subset=['key'])

Checking duplicates for the MVP table.

In [87]:
dupe = df_mvp.duplicated(subset=['key'])
sum(dupe)

0

It seems that the teams dataset isn't that important, so we can forget this for now. MVP data is the most important, but it is only limited to the top 20 players who receive votes.

To allow us to create a model based off all players, we should combine it with the all-players dataset. We will end up with a dataset of all players, with 20 receiving votes, and the rest receiving 0 votes. This can then be used to create a model if there is a good correlation between stats and votes.

In [92]:
df = df_all.merge(df_mvp, on='key', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15566 entries, 0 to 15565
Data columns (total 84 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0_x      15566 non-null  int64
 1   ranker            15566 non-null  int64
 2   player_x          15566 non-null  object
 3   pos               15566 non-null  object
 4   age_x             15566 non-null  int64
 5   team_id_x         15566 non-null  object
 6   g_x               15566 non-null  int64
 7   gs                15566 non-null  int64
 8   mp_per_g_x        15566 non-null  float64
 9   fg_per_g          15566 non-null  float64
 10  fga_per_g         15566 non-null  float64
 11  fg_pct_x          15499 non-null  float64
 12  fg3_per_g         15566 non-null  float64
 13  fg3a_per_g        15566 non-null  float64
 14  fg3_pct_x         13384 non-null  float64
 15  fg2_per_g         15566 non-null  float64
 16  fg2a_per_g        15566 non-null  float64
 17  fg2_pct           15453 non-null  float64
 18  efg_pct           15499 non-null  float64
 19  ft_per_g          15566 non-null  float64
 20  fta_per_g         15566 non-null  float64
 21  ft_pct_x          14998 non-null  float64
 22  orb_per_g         15566 non-null  float64
 23  drb_per_g         15566 non-null  float64
 24  trb_per_g_x       15566 non-null  float64
 25  ast_per_g_x       15566 non-null  float64
 26  stl_per_g_x       15566 non-null  float64
 27  blk_per_g_x       15566 non-null  float64
 28  tov_per_g         15566 non-null  float64
 29  pf_per_g          15566 non-null  float64
 30  pts_per_g_x       15566 non-null  float64
 31  ranker.1          15566 non-null  int64
 32  player.1          15566 non-null  object
 33  pos.1             15566 non-null  object
 34  age.1             15566 non-null  int64
 35  team_id.1         15566 non-null  object
 36  g.1               15566 non-null  int64
 37  mp                15566 non-null  int64
 38  per               15563 non-null  float64
 39  ts_pct            15505 non-null  float64
 40  fg3a_per_fga_pct  15499 non-null  float64
 41  fta_per_fga_pct   15499 non-null  float64
 42  orb_pct           15563 non-null  float64
 43  drb_pct           15563 non-null  float64
 44  trb_pct           15563 non-null  float64
 45  ast_pct           15563 non-null  float64
 46  stl_pct           15563 non-null  float64
 47  blk_pct           15563 non-null  float64
 48  tov_pct           15515 non-null  float64
 49  usg_pct           15563 non-null  float64
 50  DUMMY             0 non-null      float64
 51  ows               15566 non-null  float64
 52  dws               15566 non-null  float64
 53  ws_x              15566 non-null  float64
 54  ws_per_48_x       15563 non-null  float64
 55  DUMMY.1           0 non-null      float64
 56  obpm              15566 non-null  float64
 57  dbpm              15566 non-null  float64
 58  bpm               15566 non-null  float64
 59  vorp              15566 non-null  float64
 60  Year_x            15566 non-null  int64
 61  key               15566 non-null  object
 62  Unnamed: 0_y      258 non-null    float64
 63  rank              258 non-null    object
 64  player_y          258 non-null    object
 65  age_y             258 non-null    float64
 66  team_id_y         258 non-null    object
 67  votes_first       258 non-null    float64
 68  points_won        258 non-null    float64
 69  points_max        258 non-null    float64
 70  award_share       258 non-null    float64
 71  g_y               258 non-null    float64
 72  mp_per_g_y        258 non-null    float64
 73  pts_per_g_y       258 non-null    float64
 74  trb_per_g_y       258 non-null    float64
 75  ast_per_g_y       258 non-null    float64
 76  stl_per_g_y       258 non-null    float64
 77  blk_per_g_y       258 non-null    float64
 78  fg_pct_y          258 non-null    float64
 79  fg3_pct_y         253 non-null    float64
 80  ft_pct_y          258 non-null    float64
 81  ws_y              258 non-null    float64
 82  ws_per_48_y       258 non-null    float64
 83  Year_y            258 non-null    float64
dtypes: float64(64), int64(10), object(10)
memory usage: 10.1+ MB

In [98]:
pd.set_option('display.max_rows', 100)

In [99]:
print(df.isna().sum())

Unnamed: 0_x            0
ranker                  0
player_x                0
pos                     0
age_x                   0
team_id_x               0
g_x                     0
gs                      0
mp_per_g_x              0
fg_per_g                0
fga_per_g               0
fg_pct_x               67
fg3_per_g               0
fg3a_per_g              0
fg3_pct_x            2182
fg2_per_g               0
fg2a_per_g              0
fg2_pct               113
efg_pct                67
ft_per_g                0
fta_per_g               0
ft_pct_x              568
orb_per_g               0
drb_per_g               0
trb_per_g_x             0
ast_per_g_x             0
stl_per_g_x             0
blk_per_g_x             0
tov_per_g               0
pf_per_g                0
pts_per_g_x             0
ranker.1                0
player.1                0
pos.1                   0
age.1                   0
team_id.1               0
g.1                     0
mp                      0
per                     3
ts_pct                 61
fg3a_per_fga_pct       67
fta_per_fga_pct        67
orb_pct                 3
drb_pct                 3
trb_pct                 3
ast_pct                 3
stl_pct                 3
blk_pct                 3
tov_pct                51
usg_pct                 3
DUMMY               15566
ows                     0
dws                     0
ws_x                    0
ws_per_48_x             3
DUMMY.1             15566
obpm                    0
dbpm                    0
bpm                     0
vorp                    0
Year_x                  0
key                     0
Unnamed: 0_y        15308
rank                15308
player_y            15308
age_y               15308
team_id_y           15308
votes_first         15308
points_won          15308
points_max          15308
award_share         15308
g_y                 15308
mp_per_g_y          15308
pts_per_g_y         15308
trb_per_g_y         15308
ast_per_g_y         15308
stl_per_g_y         15308
blk_per_g_y         15308
fg_pct_y            15308
fg3_pct_y           15313
ft_pct_y            15308
ws_y                15308
ws_per_48_y         15308
Year_y              15308
dtype: int64

In [113]:
df.loc[(df.fg_pct_x.isnull()), ['player_x', 'fg_pct_x', 'gs']].head()

          player_x  fg_pct_x  gs
348      Mark Wade       NaN   0
575   Gary Leonard       NaN   0
789    Steve Bardo       NaN   0
898   Dan Godfread       NaN   0
931  Cedric Hunter       NaN   0

In [114]:
df.loc[(df.ft_pct_x.isnull()), ['player_x', 'ft_pct_x', 'ft_per_g']].head()

          player_x  ft_pct_x  ft_per_g
48   Rick Carlisle       NaN       0.0
190  Clifford Lett       NaN       0.0
241   Chuck Nevitt       NaN       0.0
304  Dexter Shouse       NaN       0.0
346      Gary Voce       NaN       0.0

In [116]:
df.loc[df.per.isnull()].head()

,Unnamed: 0_x,ranker,player_x,pos,age_x,team_id_x,g_x,gs,mp_per_g_x,fg_per_g,...,trb_per_g_y,ast_per_g_y,stl_per_g_y,blk_per_g_y,fg_pct_y,fg3_pct_y,ft_pct_y,ws_y,ws_per_48_y,Year_y
7117,8541,365,Alex Scales,SG,27,SAS,1,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8661,10474,99,JamesOn Curry,PG,24,LAC,1,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10146,12363,212,Damion James,SF,25,BRK,2,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It's clear that the null values related to scoring is due to players not scoring. Lets fill those with 0's.

In [119]:
df = df.drop(['DUMMY', 'DUMMY.1', 'Unnamed: 0_y', 'rank', 
         'player_y', 'age_y', 'team_id_y', 'g_y', 'mp_per_g_y', 
         'pts_per_g_y', 'trb_per_g_y', 'ast_per_g_y', 'stl_per_g_y', 
         'blk_per_g_y', 'fg_pct_y', 'fg3_pct_y', 'ft_pct_y', 
         'ws_y', 'ws_per_48_y', 'Year_y', 'Unnamed: 0_x'], axis=1)

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15566 entries, 0 to 15565
Data columns (total 63 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ranker            15566 non-null  int64
 1   player_x          15566 non-null  object
 2   pos               15566 non-null  object
 3   age_x             15566 non-null  int64
 4   team_id_x         15566 non-null  object
 5   g_x               15566 non-null  int64
 6   gs                15566 non-null  int64
 7   mp_per_g_x        15566 non-null  float64
 8   fg_per_g          15566 non-null  float64
 9   fga_per_g         15566 non-null  float64
 10  fg_pct_x          15499 non-null  float64
 11  fg3_per_g         15566 non-null  float64
 12  fg3a_per_g        15566 non-null  float64
 13  fg3_pct_x         13384 non-null  float64
 14  fg2_per_g         15566 non-null  float64
 15  fg2a_per_g        15566 non-null  float64
 16  fg2_pct           15453 non-null  float64
 17  efg_pct           15499 non-null  float64
 18  ft_per_g          15566 non-null  float64
 19  fta_per_g         15566 non-null  float64
 20  ft_pct_x          14998 non-null  float64
 21  orb_per_g         15566 non-null  float64
 22  drb_per_g         15566 non-null  float64
 23  trb_per_g_x       15566 non-null  float64
 24  ast_per_g_x       15566 non-null  float64
 25  stl_per_g_x       15566 non-null  float64
 26  blk_per_g_x       15566 non-null  float64
 27  tov_per_g         15566 non-null  float64
 28  pf_per_g          15566 non-null  float64
 29  pts_per_g_x       15566 non-null  float64
 30  ranker.1          15566 non-null  int64
 31  player.1          15566 non-null  object
 32  pos.1             15566 non-null  object
 33  age.1             15566 non-null  int64
 34  team_id.1         15566 non-null  object
 35  g.1               15566 non-null  int64
 36  mp                15566 non-null  int64
 37  per               15563 non-null  float64
 38  ts_pct            15505 non-null  float64
 39  fg3a_per_fga_pct  15499 non-null  float64
 40  fta_per_fga_pct   15499 non-null  float64
 41  orb_pct           15563 non-null  float64
 42  drb_pct           15563 non-null  float64
 43  trb_pct           15563 non-null  float64
 44  ast_pct           15563 non-null  float64
 45  stl_pct           15563 non-null  float64
 46  blk_pct           15563 non-null  float64
 47  tov_pct           15515 non-null  float64
 48  usg_pct           15563 non-null  float64
 49  ows               15566 non-null  float64
 50  dws               15566 non-null  float64
 51  ws_x              15566 non-null  float64
 52  ws_per_48_x       15563 non-null  float64
 53  obpm              15566 non-null  float64
 54  dbpm              15566 non-null  float64
 55  bpm               15566 non-null  float64
 56  vorp              15566 non-null  float64
 57  Year_x            15566 non-null  int64
 58  key               15566 non-null  object
 59  votes_first       258 non-null    float64
 60  points_won        258 non-null    float64
 61  points_max        258 non-null    float64
 62  award_share       258 non-null    float64
dtypes: float64(47), int64(9), object(7)
memory usage: 8.1+ MB

The other NaN values at the bottom of the table are due to the fact most players did not appear in the MVP table. These can be filled with 0 as they did not receive MVP votes.

In [124]:
df = df.fillna(0)

In [131]:
df.shape

(15566, 63)

In [134]:
df.to_csv('wrangled-data')